<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
    <!-- VM argments에 home.path 추가하여 사용 -->
    <appender name="STDERR" class="ch.qos.logback.core.ConsoleAppender">
    	<target>System.err</target>
    	<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      		<level>WARN</level>
    	</filter>
		<encoder>
        	<pattern>%-5level | %d{yyyy-MM-dd HH:mm.ss.SSS} | %logger{35}[%method:%line][%thread] - %msg%n</pattern>
    	</encoder>
  	</appender>
    
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    	<target>System.out</target>
    	<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      		<level>INFO</level>
    	</filter>
    	<filter class="ch.qos.logback.classic.filter.LevelFilter">
      		<level>WARN</level>
      		<onMatch>DENY</onMatch>
    	</filter>
    	<filter class="ch.qos.logback.classic.filter.LevelFilter">
      		<level>ERROR</level>
      		<onMatch>DENY</onMatch>
    	</filter>
        <encoder>
            <pattern>%-5level | %d{yyyy-MM-dd HH:mm.ss.SSS} | %logger{35}[%method:%line][%thread] - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="appLogAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.path:-C://dev/work/webhook}/logs/webhook.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${log.path:-C://dev/work/webhook}/logs/webhook-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>${log.max.file.size:-64}MB</maxFileSize>
            <maxHistory>${log.max.history:-30}</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%-5level | %d{yyyy-MM-dd HH:mm.ss.SSS} | %logger{35}[%method:%line][%thread] - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="java.sql" additivity="false">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="appLogAppender" />
        <appender-ref ref="STDERR" />
    </logger>
    <logger name="org.apache.http" additivity="false">
        <level value="INFO" />
        <appender-ref ref="STDOUT" />
        <appender-ref ref="STDERR" />
        <appender-ref ref="appLogAppender" />
    </logger>
    <!-- Spring 관련 로그 -->
    <logger name="org.springframework.boot" additivity="false">
        <level value="INFO" />
        <appender-ref ref="STDOUT" />
        <appender-ref ref="STDERR" />
        <appender-ref ref="appLogAppender" />
    </logger>
    <logger name="org.springframework.boot.web" additivity="false">
        <level value="INFO" />
        <appender-ref ref="STDOUT" />
        <appender-ref ref="STDERR" />
        <appender-ref ref="appLogAppender" />
    </logger>
    <logger name="org.springframework.boot.actuate" additivity="false">
        <level value="ERROR" />
        <appender-ref ref="STDOUT" />
        <appender-ref ref="STDERR" />
        <appender-ref ref="appLogAppender" />
    </logger>
    <logger name="com.zaxxer.hikari.pool" additivity="false">
        <level value="INFO" />
        <appender-ref ref="STDOUT" />
         <appender-ref ref="STDERR" />
        <appender-ref ref="appLogAppender" />
    </logger>

    <root level="${LOG_LEVEL:-INFO}">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="STDERR" />
        <appender-ref ref="appLogAppender" />
    </root>

</configuration>